// Mixins Here

.button(@sea-shell, @btn-bg-color) {
	padding: 8px 8px;
	color: @sea-shell;
	background-color: @btn-bg-color;
  border-radius: 15px;
  text-align: center;
}

.buttonHvr() {
	color: @btn-bg-color;
	background-color: @@sea-shell;

}
